In [1]:
import pandas as pd
from scipy import stats
df = pd.read_csv('nur.csv',sep=";")
data = {"stats":['min','max','Mean','Standart Deviasi', 'Variasi','Skewnes',
                 'Quartile 1','Quartile 2', 'Quartile 3', 'Median','Modus']}
for i in df.columns:
    data[i] = [df[i].min(),df[i].max(),df[i].mean(),round(df[i].std(),2), round(df[i].var(),2), round(df[i].skew(),2), 
               df[i].quantile(0.25),df[i].quantile(0.5),df[i].quantile(0.75), df[i].mean(), stats.mode(df[i]).mode[0]]
kd= pd.DataFrame(data)
kd.style.hide_index()